.slider-container {
	position: relative;
	width:600px;
	height: 400px;
	margin:100px auto;
}
.slider-container li {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	list-style: none;
	opacity: 0;
	transition: all 0.5s ease;
}
.slider-container li.active {
	opacity: 1;
}